

/*
font-family: 'Oswald', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Average Sans', sans-serif;
font-family: 'Encode Sans Semi Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
*/






/* A horizontal line */
/*
h6 {
    border-bottom: 1px solid #203030; 
    clear: both; 
    height: 0; 
    width: 100%;
}
*/



html body {
    
/* 고정 폭으로 하면 반응형으로 안되는 대신 균등하게 폰에서도 줄여져서 나오는듯 */
    width: 100%;
    height: 100%;
    overflow-y: scroll; 
    z-index: -1;
/*    padding-right:40px;*/
    
/*
    width: 1500px;
    height: 800px;
*/
/*  나중에 outter-content 절대길이구해지면 그거보다 조금 길게해서 footer 넣으면 될듯, 그냥 넣어도 될듯하고.,,  */
    margin: 0;
    padding: 0;
    background-color: #95A5A6;/*darkseagreen;*/
}

#header, .menu, #header ul, #header ul li{
    margin: 0;
    padding: 0;
}

a:active, a:visited, a:link {
    text-decoration: none;
    color: inherit;
}

a:hover {
     color: #A4533D; 
}

.content-body-detail-description span {
    font-size: inherit;
    color: #C9A77A;
    font-weight: 600;
}

/*
i {
    color: #A4533D;
    color: #505050;
    color: #C9A77A;
}
*/

.content-body-detail {
    padding-top: 15px;
    padding-left: 5px;
    color: #C9A77A;
}

.content-body-detail-description {
    padding-top: 5px;
    padding-left: 5px;
    color: darkgray;
}


#topbtn {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    display: none;
}


#header {
    width: 100%;
    height: 70px;
    overflow: hidden;
/*    background-color: darkseagreen;*/
    color: #EDEEEF;
    font-family: 'Average Sans', sans-serif;
}

#header #update {
    position: relative;
    top: 50px; 
    left: 155px;
    z-index: 1;
    font-size: 12px;
    font-family: inherit;
}

#header ul {
    float: right;
    margin-right: 300px;
}

#header ul li {
    list-style: none;
    float: left;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 2;
    background-color: #ffffff; /*darkseagreen;*/
}

#header .menu {
    text-decoration: none; 
    color: inherit;
    display: block;
    width: 100px;
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
}

#header .menu:hover {
    color: #A4533D;
}

/* 선택 됐을때 선택 된 탭에 색깔 */
#header ul li.currentMenu {
    background-color: white;
    color: #A46E3F;
}

#content-outer {
/*    height: 4900px;*/
    height: 100%;
    padding-left: 150px;
    padding-right: 150px;
/*    background-color: cadetblue;*/
    background-color: #95A5A6; /*darkseagreen;*/
    
/*    29AF48*/
}

#content-inner {
    padding: 100px 50px 100px 50px;
/*    background-color: #F9F9F9; */
    background-color: white;
}


.content-hide {
    display: none;
}

.content-hide.currentMenu {
    display: block;
}

/* Per paragraph */
.content-article {
    padding: 30px;
    height: auto;
    overflow: hidden;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.content-picture {
    float: left;
    padding: 30px;
}

.content-morebtn {
    padding: 5px 10px;
    float: right;
    background-color: bisque;
    border-radius: 8px;
    margin-right: 5px;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
}

.content-body {
    margin: 0 0 20px 15px;
    font-family: inherit;
    clear: both;
}

.large-title {
    font-size: 64px;
    font-family: 'Oswald', sans-serif;
}

.med-title {
    font-size: 34px;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid #BEBEBE;
    margin-bottom: 20px;
}

.small-title {
    font-size: 24px;
    margin: 0 0 15px 5px;
    font-family: 'Oswald', sans-serif;
    display: block;
    float:left;
}

.title-description {
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #A0A0A0;
    color: #FFFAF7;
    font-size: 18px;
    padding: 5px;
    float:  right;
}

.new-paper-text {
    background-color: rgb(147, 203, 43);
    color: #ffffff;
    display: inline-block;
    border-radius: 2.5px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    width:max-content; 
    padding:3px 3px 1.5px 1.5px;
    /* padding-left : 30px; */
}















































