

/*
font-family: 'Oswald', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Average Sans', sans-serif;
font-family: 'Encode Sans Semi Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

html body {
    width: 100%;
    height: 100%;
/*  나중에 outter-content 절대길이구해지면 그거보다 조금 길게해서 footer 넣으면 될듯, 그냥 넣어도 될듯하고.,,  */
    margin: 0;
    padding: 0;
    background-color: brown;
}

#header, .menu, #header ul, #header ul li{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: square;
}


a:active, a:visited, a:link {
    text-decoration: none;
    color: burlywood;
}

a:hover {
     color: #64533D; 
}



#header {
    width: 100%;
    height: 70px;
    overflow: hidden;
    background-color: #202020;
    color: #EDEEEF;
    font-family: 'Average Sans', sans-serif;
    /*    color: #FFFAF7;*/
}

#header #update {
    margin-top: 48px; 
    margin-left: 10px; 
    float: left;
    font-size: 12px;
    font-family: inherit;
}

#header ul {
    float: right;
    margin-right: 50px;
}

#header ul li {
    list-style: none;
    float: left;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
}

#header .menu {
    text-decoration: none; 
    color: inherit;
    display: block;
    width: 150px;
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
}

#header .menu:hover {
    color: burlywood;
}

/* 선택 됐을때 선택 된 탭에 색깔 */
#header ul li.currentMenu {
/*    background-color: #151515;*/
    background-color: black;
}



#content-outer {
    height: 1600px;
/*    height: 100%;*/
    padding-left: 300px;
    padding-right: 300px;
    background-color: cadetblue;
}

#content-inner {
    padding: 100px 50px 100px 50px;
/*    background-color: #F9F9F9; */
    background-color: white;
}


.content-hide {
    display: none;
}

.content-hide.currentMenu {
    display: block;
}

/* Per paragraph */
.content-article {
    padding: 30px;
    height: auto;
    overflow: hidden;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.content-picture {
    float: left;
    padding: 30px;
}


.large-title {
    font-size: 65px;
    font-family: 'Oswald', sans-serif;
}

.med-title {
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
}
.small-title {
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
}


/* A horizontal line */
h6 {
    border: none;
    border-bottom: 1px solid #203030; 
    clear: both; 
    height: 0; 
    width: 100%;
}


















































