/*
        html,
        body {
            max-width: 100%;
            overflow-x: hidden;
        }
*/

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 1680px;
    height: 4500px;
    /*    height: 100%;*/
    /*    background-color: black;*/
}

#sidebar {
    position: fixed;
    width: 350px;
    height: 100%;
    padding-left: 20px;
    background-color: #EFEFEF;
    
/*        #FFC31E;*/
    /*        #FFB914;*/
    /*        #FFB900;*/
    /*    #F9AD05*/
    /*                        #d66*/
}

.sidebartab {
    width: 320px;
    height: 25px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    float: left;
    /*                        border: 1px solid black;*/
}

#content {
    position: absolute;
    width: 1480px;
/*    height: 4450px;*/
        height: 100%;
    margin-left: 370px;
    padding-left: 20px;
    background-color: white;
/*        background-color: #7dd;*/
    /*            border: 20px solid black;*/
}

#content-area {
    /*    margin-left: 150px;*/
    padding-left: 100px;
    padding-top: 50px;
    /*    background-color: white;*/
/*    background-color: white;*/
/*            background-color: #7dd;*/
    /*            border: 20px solid black;*/
}

#footer {
    position: absolute;
    bottom: 0px;
    left: 370px;
    width: 1500px;
    height: 100px;
    /*    margin: 10px;*/
    background-color: white;
/*    background-color: black;*/
}

.fontBig {
    font-family: 'Muli', sans-serif;
    /*    font-family: 'Montserrat', sans-serif;*/
    font-size: 45px;
    line-height: 14px;
    letter-spacing: 0.8px;
    font-weight: 700;
    color: #303030;
}

.fontBig-normaltitle {
    font-family: 'Muli', sans-serif;
    /*    font-family: 'Montserrat', sans-serif;*/
    font-size: 35px;
    line-height: 14px;
    letter-spacing: 0.8px;
    font-weight: 700;
    color: #303030;
    margin-bottom: 40px;
}

.fontBig-smalltitle {
    font-family: 'Muli', sans-serif;
    font-size: 25px;
    line-height: 14px;
    letter-spacing: 0.8px;
    font-weight: 700;
    /*    color: #303030;*/
    color: #505050;
    margin-bottom: 100px;
}

.font-title-discription {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.8px;
    font-weight: 700;
    color: #8C8C8C;
    margin-top: 20px;
    margin-left: 10px;
}

.fontNormal {
    font-family: 'Cabin', sans-serif;
    /*    font-family: 'Cabin', sans-serif;*/
    /*    font-family: 'Montserrat', sans-serif;*/
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.8px;
    color: #484848;
}

.fontNormal-content {
    font-family: 'Muli', sans-serif;
    /*    font-family: 'Cabin', sans-serif;*/
    /*    font-family: 'Montserrat', sans-serif;*/
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.8px;
    color: #484848;
}

.fontSmall {
    /*            font-family: sans-serif;*/
    /*            font-family: 'Cabin', sans-serif;*/
    /*    font-family: 'Montserrat', sans-serif;*/
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.8px;
    font-weight: 400;
    color: #484848;
}

.content-rule1 {

    margin-top: 125px;
    margin-bottom: 125px;
/*        background-color: aquam arine;*/
}


p.p-rule1 {
    text-indent: 1em;
    word-wrap: break-word;
    margin-right: 50px;
}

p.p-rule2 {
    word-wrap: break-word;
    margin-right: 50px;
}

ul {
    margin-bottom: 50px;
    color: #484848;
}

li {
    font-size: 20px;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #484848;
}

img {
    border-color: transparent;
/*    border-radius: 15px;*/
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
}

a:link {
    text-decoration: none;
    color: #484848;
}

a:visited {
    text-decoration: none;
    color: #484848;
}

a:active {
    text-decoration: none;
    color: #484848;
}

a:hover {
    text-decoration: none;
    /*    color: white;*/
    /*    color: burlywood;*/
    /*    color: burlywood;*/
    /*    color: burlywood;*/
    color: lightgrey;
}
